* {
    margin: 0;
    padding: 0;
}

.contianer {
    height: 160px;
    width: 160px;
}

#box {
    margin: 100px 100px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 60000;
    -webkit-perspective: 60000;
    transform-origin: 80px 80px 0;
    -webkit-transform-origin: 80px 80px 0;
    perspective-origin: 25% 75%;
    -webkit-perspective-origin: 25% 75%;
    animation-name: animation;
    -webkit-animation-name: animation;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes animation {
    from, to {}
    16% {
        -webkit-transform: rotateY(-90deg);
    }
    33% {
        -webkit-transform: rotateY(-90deg) rotateZ(135deg);
    }
    50% {
        -webkit-transform: rotateY(225deg) rotateZ(135deg);
    }
    66% {
        -webkit-transform: rotateY(135deg) rotateX(135deg);
    }
    83% {
        -webkit-transform: rotateX(135deg);
    }
}

#box div {
    position: absolute;
    height: 160px;
    width: 160px;
    border: 3px solid black;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0,0.7) 0px, rgba(0, 0, -2,0.7) 3px, rgba(0, 0, 0, 0) 0px), -webkit-linear-gradient(top, rgba(0, 0, 0,0.7) 0px, rgba(0, 0, 0,0.7) 3px, rgba(0, 0, 0,0) 0px);
    -webkit-background-size: 3.5em 3.5em;
    /*通过线性渐变实现从原来为0px的黑线（即背景自己的颜色）渐变到3px宽的黑线再变回原来为0px的黑线（即背景自己的颜色），就是加了一条线的意思。再通过设置背景大小使其重复就行。*/
    /*opacity: 0.7;*/
}

#box .one {
    background-color: red;
    transform: translateZ(80px);
    -webkit-transform: translateZ(80px);
    /*正面*/
}

#box .two {
    background-color: yellow;
    transform: rotateX(-90deg) translateZ(80px);
    -webkit-transform: rotateX(-90deg) translateZ(80px);
    /*底*/
}

#box .three {
    background-color: blue;
    transform: rotateY(90deg) translateZ(80px);
    -webkit-transform: rotateY(90deg) translateZ(80px);
    /*右*/
}

#box .four {
    background-color: green;
    transform: rotateY(-90deg) translateZ(80px);
    -webkit-transform: rotateY(-90deg) translateZ(80px);
    /*左*/
}

#box .five {
    background-color: orange;
    transform: translateZ(-80px);
    -webkit-transform: translateZ(-80px);
    /*对面*/
}

#box .six {
    background-color: white;
    transform: rotateX(90deg) translateZ(80px);
    -webkit-transform: rotateX(90deg) translateZ(80px);
    /*顶*/
}
